<div class='container siviBox'>
    <div>
        <label for="importance">Importance: </label>
        <select name="importance" id="importance" (change)="onSelectedImportance($event)">
            <option value='0'>None</option>
            <option value='1'>Very</option>
            <option value='2'>Medium</option>
            <option value='3'>Less</option>
        </select>
    </div>
    <div>
        <label for="complexity">Complexity: </label>
        <select name="complexity" id="complexity" (change)='onSelectedComplexity($event)'>
            <option value='0'>None</option>
            <option value='simple'>Simple</option>
            <option value='medium'>Medium</option>
            <option value='hard'>Hard</option>
        </select>
    </div>
    <div *ngFor='let goal of filteredGoals() | sort'>
        <div [ngStyle]="getStyle(goal)" (click)="showGoal(goal)">
            {{ goal.naziv }}
        </div>
        <div [id]='goal._id' [style.display]="'none'">
            Id: {{ goal._id }} <br>
            Naziv: {{ goal.naziv }} <br>
            Opis: {{ goal.opis }} <br>
            Vaznost: {{ goal.vaznost }} <br>
            Broj koraka: {{ goal.koraci.length }} <br>
        </div>
        <hr>
    </div>
    <button class='btn btn-dark' [routerLink]="['/add-goal']"> Add goal </button>
</div>